.shadow {
    border: 1px solid currentColor;
    width: fit-content;
    height: fit-content;
    margin: 2.5rem auto;
    box-shadow: 8px 8px 0 0 currentColor;
}
.feuille {
    width: 21cm;
    height: 29.7cm;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}


.feuille section {
    border-top: unset;
    border-bottom: 1px solid currentColor;
}
.feuille header, .feuille section, .feuille footer {
    padding: 1rem 1.5rem;
}

.feuille h2, .feuille h3 {
    margin-bottom: 0.75rem;
}
.feuille h2, .header h3  {
    width: fit-content;
    border-bottom: 1px solid currentColor;
}
.header h2, .header h2+h3 {
    width: unset;
    border-bottom: unset;
}

.feuille p,
.feuille div {
    margin-bottom: 0.75rem;
    margin-left: 0.75rem;
}

.feuille .mainContainer, .feuille .leftContainer, .feuille .rightContainer {
    display: flex;
    margin: 0;
    padding: 0;
}

.leftContainer, .rightContainer {
    flex-direction: column;
    flex-grow: 1;
}

.leftContainer {
    width: 66%;
    border-right: currentColor solid 1px;
}
.rightContainer {
    max-width: 33%;
}
.mainContainer {
    flex-grow: 1;;
}

.feuille .header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0;
    border-bottom: 1px solid currentColor;
}
.header div:first-child {
    margin: 0;
    padding: 0.75rem;
}
.header div:last-child {
    margin: 0;
    padding: 0.5rem;
    max-width: 33.5%;
}

.header div:last-child h3 {
    margin-bottom: 0.25rem;
}

.header h2 {
    text-align: center;
    margin: 1rem auto 0;
    text-decoration: none;
}
.header h2 + h3 {
    margin-top: 0;
    text-align: center;
    margin-bottom: 1.5rem;
    text-decoration: none;
}
.feuille section.projets {
    border-bottom: none;
}

.feuille footer.info {
    padding: 0.75rem;
}

.info p, .contact p {
    word-break: break-word;
    color: currentColor;
}
.info p:not(:last-child) {
    margin-bottom: 0.5rem;
}
.contact p svg {
    margin-right: 4px;
}

.contact p {
    margin-bottom: 0.33rem;
    display: flex;
}

.projets h3:not(:first-of-type) , .parcours h3:not(:first-of-type) {
    border-top: 1px dashed currentColor;
}
.feuille .projets > *, .feuille .parcours > * {
    padding-left: 1rem;
}

.projets h3, .projets h2, .parcours h3, .parcours h2 {
    padding-top: 0.75rem;
}
.feuille .projets h2, .feuille .parcours h2 {
    margin-bottom: 0rem;
    padding-left: 0;
    margin-left: 1rem;
}

.feuille .projets, .feuille .parcours {
    padding: 0
}
.feuille .projets ul {
    padding-left: 3rem;
    margin: 0.5rem 0;
}
.projets p:last-child {
    margin-bottom: 0;
    padding-bottom: 0.5rem;
}

.feuille > .objectifs > p {
    margin: 0;
}
.feuille a {
    font-size: 1rem;
    color: currentColor;
}

.pdfColor {
    color: black;
}

.pdfButton, .pdfButtonMobile {
    border-radius: 8px;
    padding: 4px 8px;
    color: var(--text-color);
    background:  var(--background-color);
    border: currentColor 1px solid;
    box-shadow:  3px 3px 0px  var(--text-color);
    transform: translate(-3px, -3px);
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
}
.pdfButton.animated, .pdfButtonMobile.animated {
    animation: 0.10s linear 0s colorButton;
}

@keyframes colorButton {
    0% {
      transform: translate(-3px, -3px);
      box-shadow: 3px 3px 0 currentColor,
                  2px 3px 0 currentColor;
    }
    50% {
      box-shadow: 0 0 0 var(--text-color);
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-3px, -3px);
      box-shadow: 3px 3px 0 currentColor,
                  2px 3px 0 currentColor;
    }
  }

.pdfButtonMobile {
    display: none;
}
.title {
    text-align: center;
    margin: 1rem auto 0;
}
.title h1 {
    display: inline-block;
    margin-right: 2rem;
}

@media (max-width: 21cm) {
    .pdfButton {
        display: none;
    }
    .pdfButtonMobile {
        display: inline-block;
    }

    .feuille {
        max-width: 100%;
        width: unset;
        height: unset;
        border: unset
    }
    .header {
        flex-direction: column;
    }
    .header div:last-child {
        max-width: 100%;
    }
    .mainContainer {
        flex-direction: column;
    }
    .leftContainer {
        border-right: unset;
        width: unset;
        order: 2;
    }
    .rightContainer {
        border: none;
        width: unset;
        max-width: 100%;
    }

    .feuille .projets, .feuille .parcours {
        padding: 0.5rem;
    }
    .shadow {
        border: unset;
        border-top: currentColor 1px solid;
        border-bottom: currentColor 1px solid;
        box-shadow: unset;
    }
}

@media (max-width: 900px) {
    .shadow {
      box-shadow: unset;
    }
  }

@media (max-width: 600px) {
    .title > h1, .title a {
        display: block;
    }
    .title a {
        width: fit-content;
        margin: auto;
    }
    .title h1 {
        margin: 1rem auto;
    }
}