.mainSection {
    display: flex;
    justify-content: space-evenly;
    padding: 4rem 8rem;
    gap: 4rem;
}
.mainSection > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.officeImage {
    border: 1px solid var(--text-color);
}

.officeImage:hover {
    rotate: -6deg;
    animation: 0.75s linear 0s pencher;
}

@keyframes pencher {
    0% {
        rotate: 0deg;
    }
    80% {
        rotate: -4deg;
    }
    100% {
        rotate: -6deg;
    }
}