/* file for mdx styling */
.mdx {
  padding: 2em 4em;
  line-height: 1.5;
}
.mdx p,
.mdx ul {
  margin-left: 1em;
  margin-bottom: 1em;
}
.mdx li {
  margin-left: 1em;
}

.mdx a:not([class="button"]) {
  text-decoration: dotted;
  text-decoration-line: underline;
  margin-left: 2px;
  margin-right: 1px;
  border: 1px solid transparent;
  padding: 0 3px;
  box-shadow: 0 0 0 currentColor;
  display: inline-block;
}

.mdx a:hover:not([class="button"]) {
  border: 1px solid currentColor;
  transform: translate(-4px, -2px);
  animation: 0.2s linear 0s linkShadow;
  box-shadow: 4px 2px 0 currentColor;
}

@keyframes linkShadow {
  from {
    transform: translate(0, 0);
    box-shadow: 0 0 0 currentColor;
  }
  to {
    transform: translate(-4px, -2px);
    box-shadow: 4px 2px 0 currentColor;
  }
}

.mdx img {
  border: 1px solid var(--text-color);
}

.mdx .imgCenter {
  margin: auto;
  display: block;
}

.mdx h1 {
  text-align: center;
}

.mdx h1, .mdx h2, .mdx h3, .mdx h4 {
  margin-top: 1rem;
}

.projectHeader {
  display: flex;
  border-top: currentColor 1px solid;
  border-bottom: currentColor 1px solid;
  gap: 2.5rem;
  align-items: flex-start;
}

.projectHeader img {
  border : none;
  max-width: unset;
  object-fit: contain;
  display: block;
  flex: 1.5 1 1px;
  flex-shrink: 1;
  flex-basis: 1px;
  width: 0px;
  max-width: 60%;
}

.projectHeader article {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 1px;
}

@media (max-width: 1080px) {
  .projectHeader {
    flex-direction: column;
    gap: 0;
    align-items: center;
  }

  .projectHeader img, .projectHeader  article {
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: 1080px) {
  .mdx {
    padding: 2em;
  }
}
@media (max-width: 600px) {
  .mdx {
    padding: 1.25rem ;
  }
  .mdx h1 {
    font-size: 1.825rem;
  }
}