.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header ul {
  display: flex;
}

.logo {
  border: 1px solid var(--text-color);
  background-color: var(--background-color);
  color: var(--text-color);
  width: fit-content;
  padding: 0.75em 1.25em;
  margin: 0.5em;
  font-size: 1.25rem;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.logo:hover {
  animation: 0.25s linear invertColor;
  filter: invert(1);
  cursor: pointer;
}

.mainLink {
  list-style: none;
  margin: 0.5em 1em;
  padding: 0.5em 0.5em;
  font-size: 1.25rem;
}

.mainLink.active {
  text-decoration: underline;
}

@keyframes invertColor {
  from {
    filter: invert(0);
    transform: scale(1);
  }

  50% {
    filter: invert(0.5);
    transform: scale(1.1);
  }
  to {
    filter: invert(1);
    transform: scale(1);
  }
}

.footer {
  background-color: var(--text-color);
  color: var(--background-color);
  padding: 1em;
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
  align-items: center;
  font-size: 1.25rem;
}

.footer, .footer ul {
  display: flex;
}
.footer li {
  list-style: none;
  margin-right: 0.5rem;
}


@media (prefers-color-scheme: dark) {
  .footer {
    background-color: black;
    color: var(--text-color);
  }
}