.projectList {
    display: flex;
    padding: 4em 2em;
    justify-content: space-around;
    align-items: stretch;
}

.projectList > a {
    display: block;
    flex: 1 1 0;
}

.projectList > a > article {
    max-width: 66%;
    margin-left: auto;
    margin-right: auto;
}

.Container {
    padding: 1rem 2rem;
}